<aside class="sidebar">
    <section class="blog-profile">
        <h1 class="sidebar-section-header">プロフィール</h1>
        <img class="author-icon" src="/assets/images/icon.png" alt="icon">
        <a class="author" href="https://twitter.com/shaka0maru">しゃか / @shaka0maru</a>
    </section>

    <section class="recent-posts">
        <h1 class="sidebar-section-header">最新記事</h1>
        <ul>
        {% for post in site.posts limit:10 %}
            <li class="post"><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </section>

</aside>
